@model SPKTOnline.Models.Class
@{
    ViewBag.Title = "ClassDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SPKTOnline.Reponsitories.ClassRepository rep = new SPKTOnline.Reponsitories.ClassRepository();    
}

<fieldset>
    <legend class="areadmore">@Html.DisplayFor(modelItem => modelItem.Subject.Name) - Nhóm(@Html.DisplayFor(modelItem => modelItem.Group)) - Học kỳ(@Html.DisplayFor(modelitem => modelitem.Term))-Năm học(@Html.DisplayFor(modelitem => modelitem.SchoolYear))</legend>
    <p>Giảng viên: <b>@Html.DisplayFor(modelitem => modelitem.User.LastName) @Html.DisplayFor(modelitem => modelitem.User.FirstName)</b></p>
    <p>Số sinh viên: @Model.TotalStudent | Số bài tập: @Model.Problems.Count | Số kỳ thi: @Model.Contests.Count</p>
    
</fieldset>
<fieldset>
    <legend>Bài Tập</legend>
    @Html.Partial("DSProblemPartialStudent", Model.Problems)

</fieldset>
<fieldset>
    <legend>Đề Thi</legend>
   @Html.Partial("ListExamPartial",Model.Exams)
</fieldset>
<fieldset>
    <legend>Kỳ thi</legend>
    @Html.Partial("ListContestPartial",Model.Contests)
    <div style="border-bottom-color:Gray; border-bottom-style:ridge"></div>    
</fieldset>
@if (User.Identity.IsAuthenticated && rep.IsInClass(Model,User.Identity.Name))
{
    <fieldset>
        <legend>Kết Quả Kỳ thi</legend>
        
        <div style="border-bottom-color:Gray; border-bottom-style:ridge"></div>    
    </fieldset>
}
