@model SPKTOnline.Models.Class
@{
    ViewBag.Title = "ClassDetailOfLecturer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="webtitle">
    <span style="Color:Black">Lớp</span> @Model.Subject.Name <span style="Color:Black">nhóm</span> @Model.Group </div>

<fieldset>
    <legend>Thông tin lớp học</legend>
    Sĩ số lớp: @Model.TotalStudent
    <div class="DSClass">Danh sách lớp: 
    <p>
        
    </p>
    </div>
    
</fieldset>
<fieldset>
    <legend>Bài Tập</legend>
   @Html.Partial("DsProblemPartial",Model.Problems)
@*    <div class="TaoKT" style="color:Olive;border-bottom-color:Gray; border-bottom-style:ridge">
    Tạo Kỳ Thi |</div>
    <div>
    @Html.ActionLink("gi","UploadProblemForClass", new { classID = Model.ID })   
    </div>*@
    @if (User.IsInRole("Lecturer") && Model.LecturerID == User.Identity.Name)
    {
        @Html.ActionLink("Upload câu hỏi cho lớp", "Upload", "UploadProblem", new { Id = 0, ClassID = Model.ID }, null)
    }
</fieldset>
<fieldset>
    <legend>Đề Thi</legend>
   @Html.Partial("ListExamPartial",Model.Exams)
    @if (User.IsInRole("Lecturer") && Model.LecturerID == User.Identity.Name)
    {
        @Html.ActionLink("Tạo đề cho lớp", "CreateExam", "Exam", new { classID = Model.ID }, null)
    }
</fieldset>
<fieldset>
    <legend>Kỳ thi</legend>
     @if (User.IsInRole("Lecturer") && Model.LecturerID == User.Identity.Name)
     {
        @Html.ActionLink("Tạo kỳ thi từ đề thi có sẳn", "CreateContest", "Contest", new { id = 0, classID=Model.ID  }, null)    
        <br />
        @Html.ActionLink("Tạo kỳ thi từ đề thi mới", "CreateExam", "Exam", new { ClassID = Model.ID }, null)
     }
    @Html.Partial("ListContestPartial",Model.Contests)
    <div style="border-bottom-color:Gray; border-bottom-style:ridge"></div>    
    @if (User.IsInRole("Lecturer") && Model.LecturerID == User.Identity.Name)
    {
         @Html.ActionLink("Tạo kỳ thi từ đề thi có sẳn", "CreateContest", "Contest", new { id = 0, classID=Model.ID }, null)    
        <br />
        @Html.ActionLink("Tạo kỳ thi từ đề thi mới", "CreateExam", "Exam", new { ClassID = Model.ID }, null)
    }
</fieldset>