@model SPKTOnline.Models.Class
@{
    ViewBag.Title = "ClassDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SPKTOnline.Reponsitories.ClassRepository rep = new SPKTOnline.Reponsitories.ClassRepository();    
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var i = 0;
        $(".ViewNote").click(function () {

            $(".Note").slideToggle();


        });
    });
</script>
<fieldset>
    <legend class="areadmore">@Html.DisplayFor(modelItem => modelItem.Subject.Name) - Nhóm(@Html.DisplayFor(modelItem => modelItem.Group)) - Học kỳ(@Html.DisplayFor(modelitem => modelitem.Term))-Năm học(@Html.DisplayFor(modelitem => modelitem.SchoolYear))</legend>
    <p>Giảng viên: <b>@Html.DisplayFor(modelitem => modelitem.User.LastName) @Html.DisplayFor(modelitem => modelitem.User.FirstName)</b></p>
    <p>Số sinh viên: @Model.TotalStudent | Số bài tập: @Model.Problems.Count | Số kỳ thi: @Model.Contests.Count</p>
    <div class="ViewNote" style=" width:120px;color:Blue;border-bottom-color:Gray; border-bottom-style:ridge; ">
    Xem thông báo |</div>
    <div class="Note" style="display:none">
    @Html.Action("ViewNotificationByPartial",new {ClassID=Model.ID})
    </div>
</fieldset>
<fieldset>
    <legend>Bài Tập</legend>
    @Html.Partial("DSProblemPartialStudent", Model.Problems)

</fieldset>
<fieldset>
    <legend>Kỳ thi</legend>
    <div class="classMessage">Sinh viên phải đăng ký thi để tham gia kỳ thi!</div><br />
    @Html.Partial("ListContestPartial",Model.Contests)
    <div style="border-bottom-color:Gray; border-bottom-style:ridge"></div>    
</fieldset>
@if (User.Identity.IsAuthenticated && rep.IsInClass(Model,User.Identity.Name))
{
    <fieldset>
        <legend>Kết Quả Kỳ thi</legend>
        
        <div style="border-bottom-color:Gray; border-bottom-style:ridge"></div>    
    </fieldset>
}
