@using SPKTOnline.Extensions
@model SPKTOnline.Models.Student_Submit
@{
    ViewBag.Title = "TryTestResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int k = 0;
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="webtitle">
    Môn: @Model.Problem.Subject.Name <br />
    Kết quả bài: @Model.Problem.Name </div>
<p>@Html.Raw(@ViewBag.Message)</p>

  <p><b>Kết quả biên dịch:</b> @Model.KetQuaBienDich
    @if (@Model.TrangThaiBienDich!=1)
    { <br />        
        <i>@Html.Raw(@Model.CompilerError.ToHTML())</i>
    }
  </p>
  <p><b>Tổng điểm:</b>  @Model.TongDiem</p>  
  @if (@Model.TrangThaiBienDich==1)
  {
      <b>Kết quả chi tiết:</b>
      <br />
        <table style="width: 650px">
        <tr>
            <th>
                Testcase
            </th>
            <th>
                Mô tả testcase
            </th>
            <th>
                Điểm
            </th>
            <th>
                Run Time
            </th>
            <th>
                Ghi chú
            </th>
         </tr>            
            @foreach (var i in @Model.TestCaseResults)
            {
                <tr> 
                <td>
                    @i.TestCaseID
                </td>                                   
                 <td>
                    @i.TestCas.MoTa
                </td>                    
                <td>
                    @i.Score
                </td>
                <td>
                    @i.ExecutionTime
                </td>
                <td>
                    @i.Comment
                </td>
                </tr>
                             
            }
        </table>
  }
    

