@model SPKTOnline.Models.Student_Submit
@{
    ViewBag.Title = "TryTestResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int k = 0;
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="webtitle">
    Kết quả bài làm: @Model.Problem.Name Môn: @Model.Problem.Problem_Subject.FirstOrDefault().Subject.Name </div>
<p>@Html.Raw(@ViewBag.Message)</p>

  Kết quả chi tiết
  @if(@Model.TestCaseResults.Count!=0)
  {
        <table style="width: 650px">
        <tr>
            <th>
                Mô tả testcase
            </th>
            <th>
                Kết quả
            </th>
            <th>
                Số điểm
            </th>
         </tr>
            @foreach(var i in @Model.TestCaseResults)
            {
                <tr>
                 <td>
                    @i.TestCas.MoTa
                </td>
                    
                <td>
                    @i.Comment
                </td>
                <td>
                    @i.Score
                </td>
                </tr>
                             
            }
        </table>
  }
  else
  {
      @Model.CompilerError
 }
    

