@model SPKTOnline.Models.TestCaseModels
@using SPKTOnline.Models
@{
    ViewBag.Title = "CreateTestCase";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
@using (Html.BeginForm())
{
    <fieldset>
        <legend style="color: Gray">@Html.DisplayFor(model => model.problem.Name)</legend>
        <div class="editor-field">
            @Html.DisplayFor(model => model.problem.Content)        
        </div>
        
    </fieldset>
}
@using (Html.BeginForm())
{
    <fieldset>
        <legend style="color: Gray">TestCase</legend>
        @if (Model.problem.TestCases.Count() != 0)
        {
            
            <table style="width: 650px">
                @foreach (var item in Model.problem.TestCases)
                {
                    <tr>
                        <th style="background-color:Yellow">
                            Testcase: @Html.DisplayFor(modelItem => item.MaTestCase) | % điểm: @Html.DisplayFor(modelItem => item.Diem)
                        </th>
                        <td align=right>
                                @Html.ActionLink("Delete", "Details", new { ID = item.MaTestCase })|
                                @Html.ActionLink("Edit", "EditTestCase", new { ID = item.MaTestCase })                        
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.DisplayFor(modelItem => item.MoTa)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Input:
                            <br />
                            <textarea style="text-align:left" readonly="readonly" rows="5" cols="75">
                                            @Html.DisplayFor(modelItem => item.Input)                        
                                        </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Output:
                            <br />
                            <textarea readonly="readonly" rows="5" cols="75">
                                            @Html.DisplayFor(modelItem => item.Output)                        
                                        </textarea>
                        </td>
                    </tr>                         
                }
            </table>
        }
        else
        {
            @Html.Label("Câu hỏi chưa có TestCase")
        }
    </fieldset>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="color: Gray">Thêm Test Case</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Input, "Chuỗi đầu vào")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Input, 8, 75, new { @style = "resize: none;" })
            @Html.ValidationMessageFor(model => model.Input)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Output, "Chuỗi đầu ra")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Output, 8, 75, new { @style = "resize: none;" })
            @Html.ValidationMessageFor(model => model.Output)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Output, "Phần trăm số điểm")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Diem)
            @Html.ValidationMessageFor(model => model.Diem)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MoTa, "Mô tả")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.MoTa, 8, 75, new { @style = "resize: none;" })
            @Html.ValidationMessageFor(model => model.MoTa)
        </div>
        <p>
            <input class="button" type="submit" value="Thêm" />
        </p>
        <div style="visibility: hidden">
            @Html.TextBox("MaDB")
        </div>
    </fieldset>
}
