@model SPKTOnline.Models.Exam
@{
    ViewBag.Title = "CreateExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="webtitle">
    Tạo đề thi</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Đề thi</legend>
        <div class="editor-label">
            @Html.Label("Đề thi của lớp")
        </div>
        <div class="editor-field">
            @Html.HiddenFor(m=>m.ClassID)
            @Html.TextBoxFor(m=>m.ClassID)
        </div>
        <div class="editor-label">
            @Html.Label("Mô tả đề thi")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, 15, 75, new { @style = "resize: none;" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </fieldset>
    
    <p>
        <input class="button" type="submit" value="Thêm" />
    </p>
}
