@model SPKTOnline.Models.UserModels
@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="webtitle">
    Tạo User</div>
    <p><b>@ViewBag.Message</b></p>
    
@Html.ValidationSummary(true, "Create User was unsuccessful. Please correct the errors and try again.")
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Tài khoản</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Username, "Tên đăng nhập")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password, "Mật khẩu")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
       <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword, "Lặp lại Mật khẩu")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName, "Họ lót")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LastName, "Tên")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email, "Email")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IsLocked, "Bị khóa?")
            @Html.EditorFor(model => model.IsLocked)
            @Html.ValidationMessageFor(model => model.IsLocked)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive, "Active?")
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
    </fieldset>
    <fieldset>
        <legend>Quyền</legend>
        <div class="editor-field">
            @foreach (var o in ViewBag.Options)
            {
                var optionValue = "MyOptions_" + o.Value; 
                <input type="checkbox"  
                     id="@optionValue" 
                     name="MyOption" 
                     value="@o.Value"/> 
                <label for="@optionValue">@o.Text</label> 
                <br /> 
            }
        </div>
        </fieldset>
     <fieldset>
        <legend>Phần dành cho user là giáo viên </legend>
           Chọn môn học mà giáo viên đảm nhận
           <div class="editor-field">
            @foreach (var o in ViewBag.Subjects)
            {
                var optionValueS = "MyOptions_" + o.Value; 
                <input type="checkbox"  
                     id="@optionValueS" 
                     name="OptionSubject" 
                     value="@o.Value"/> 
                <label for="@optionValueS">@o.Text</label> 
                <br /> 
            }
            </div>
    </fieldset>  
    <p>
        <input class="button" type="submit" value="Submit" />
    </p>
}
