@model IEnumerable<SPKTOnline.Models.Problem>

@if (Model.Count() != 0)
{
    <table style="width:650px">
        <tr>
            <th>
               Câu hỏi
            </th>
            <th>
               Độ khó
            </th>
             <th>
               So sánh
            </th>
            <th>
               Tổng điểm
            </th>
            <th>
                Thống kê<br />
                (Lượt làm đúng/Tổng lượt làm)
            </th>
             <th>
              
            </th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.IsDeleted == false)
            {
            <tr>
                <td>
                    <p>
                        @Html.DisplayFor(modelItem => item.Name)
                        <br />  
                        <b>Đề bài:</b> @Html.DisplayFor(modelItem => item.ContentSubString) ...
                        @if (item.FileID != null)
                        { 
                            <br />
                            @Html.ActionLink("Download đề", "Download", "File", new { ID = item.FileID }, null)
                        }
                    </p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Difficulty.Name)
                </td>
                <td>
                    @if (item.Comparer != null)
                    {
                        @Html.DisplayFor(modelItem => item.Comparer.Name)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.ComparerParameter)
                    }
                </td>
               <td>                  
                         @Html.DisplayFor(modelItem => item.Score)                   
                </td>
                <td>
                    
                </td>
                <td>
                 @if (User.IsInRole("Lecturer") && item.LecturerID == User.Identity.Name)
                 {
                           @Html.ActionLink("Edit", "EditProblem", "Problem", new { id = item.ID }, null) <span>|</span>
                           @Html.ActionLink("Delete", "DeleteProblem", "Problem", new { id = item.ID }, null)<span>|</span><br/>
                           @Html.ActionLink("EditTestCase", "CreateTestCase", "TestCase", new { ProblemID = item.ID }, null)<span>|</span>
                 }
                 else
                 {
                    @Html.ActionLink("Làm bài", "TryTest", "Student_Submit", new { id = item.ID }, null) 
                 }

                </td>
            </tr>
            }
        }
    </table>
}

else
{ 
    <p>
        Lớp này chưa có câu hỏi nào!
    </p>

}