@model IEnumerable<SPKTOnline.Models.Problem>
<div class="classMessage">Nhấn vào mã câu hỏi để xem comment cho bài tập và gửi bài giải của bạn!</div>
<div class="classMessage">Nhấn vào Lần Đúng/ Lần Giải để xem danh sách làm bài và kết quả!</div>
@if (Model.Count() != 0)
{
    <table style="width:650px">
        <tr>
            <th>
                Mã
            </th>
            <th>
               Câu hỏi
            </th>
            <th>
               Độ khó
            </th>
            <th>
               Tổng điểm
            </th>
            <th>  
                (Lượt làm đúng/<br />Tổng lượt làm)
            </th>
             <th>
              
            </th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.IsDeleted == false)
            {
            <tr>
                <td>
                 @Html.ActionLink(item.ID.ToString(), "Details", "Problem", new { ID=item.ID}, null)                                                      
                </td>
                <td>
                    <p>
                        <b>@Html.DisplayFor(modelItem => item.Name)</b> 
                        <br />  
                        Đề:<i>@Html.DisplayFor(modelItem => item.ContentSubString) </i>
                        @if (item.FileID != null)
                        { 
                            <br />
                                                       
                                @Html.ActionLink("Download đề", "Download", "File", new { ID = item.FileID }, null)
                           

                        }
                    </p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Difficulty.Name)
                </td>

               <td>                  
                         @Html.DisplayFor(modelItem => item.Score)                   
                </td>
                <td>
                    <a href="/Result/LecturerViewTryResult?ProblemID=@item.ID">@Html.DisplayFor(modelItem => item.SubmitCoDiemToiDaCount)/@Html.DisplayFor(modelItem => item.SubmitCount)</a>
                </td>
                <td>

                    @Html.ActionLink("Làm bài", "TryTest", "Student_Submit", new { id = item.ID, ContestID = 0 }, null)                                                      
                   

                </td>
            </tr>
            }
        }
    </table>
}

else
{ 
    <p>
        Lớp này chưa có câu hỏi nào!
    </p>

}