@model IEnumerable<SPKTOnline.Models.Comment>
@if (Model.Count() != 0)
{
    
  
    foreach (var item in Model)
    {   
      
        <div id="UserComment">
          <span id="comment">@item.User.LastName @item.User.FirstName <span> ( @item.User.Username  )</span></span>
          <i id="i">@item.CreateDate</i>
        </div>
        <div id="BodyComment">
            @item.Body
        </div>
       
        <div id="dotline">
        </div>
          
    }
   
}
else
{

}